body {
    height: 100vh;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}


.sectionA {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 60px;
}

.header {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 80px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.right-links {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    gap: 10px;
}
li {
    text-decoration: none;
}

.header-lower {
    display: flex;
    gap: 30px;
    flex: 1;
}
.left {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.buttonA {
    background-color: #4169e1;
    border: 1px solid royalblue;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
}


.sectionB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.random-below {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.below {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
.text {
    font-size: 18px;
    color: black;
    margin-top: 20px;
}
.img {
    border-radius: 8px;
    max-width: 200px;
}


.sectionC {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}
.paragraph {
    font: 36px light italic;
    color: #1f2937;
}
.name {
    align-self: flex-end;
    font-size: 15px;
    font-weight: bold;
}


.sectionD {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 800px;
    max-height: 200px;
}

.sec-d {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #3882f6;
    color: white;
}
.side-a {
    display: flex;
    flex-direction: column;
}
.call {
    font-size: 10px;
    font-weight: bold;
}
.sign {
    font-size: 5px;
    font-weight: lighter;
}
.butt {
    text-align: center;
    border: 1px solid white;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}